root = true

[*.cs]
dotnet_diagnostic.RS0030.severity = error
dotnet_diagnostic.CA2016.severity = warning
dotnet_diagnostic.S2228.severity = warning
dotnet_diagnostic.S2486.severity = warning
dotnet_diagnostic.S3168.severity = warning
dotnet_diagnostic.S6966.severity = warning
